extends ../layout

block content
  h1= title
  p Welcome to #{category}
  p Welcome to #{book}
  p#info

  script.
    ;(function($){
      var client = new Faye.Client('http://127.0.0.1:9090/faye', {timeout: 120,retry: 5});

      client.subscribe('/#{category}/#{book}', function(message) {
        var percent = parseFloat(message.current/message.count).toFixed(2)*100;
        $('#info').html('Got a message: ' + percent + '/100' );
      });
    })(Zepto)
    